
{% load static %}
<nav class="navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <h2 style="font-family: 'Odibee Sans', cursive;">iNote</h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left:30px;">
  {% if request.session.USER is not None %}
    <a href="/home/" class="btn" data-toggle="tooltip" title="Home"><i class="fas fa-home"></i></a>
    <a href="#" class="btn" id="add" data-toggle="tooltip" title="Add New Note"><i class="fas fa-pencil-alt"></i></a>
    <a href="/logout/" class="btn" data-toggle="tooltip" title="Log out"><i class="fas fa-sign-out-alt"></i></a>
    <a href="#" class="btn" id="username">{{ request.session.USER }}</a>
    
  {% else %}
    <div>
      <small style="color:#ffffff;font-weight:bold;">You are not signed! ('-')</small>
    </div>
  {% endif %}
  </div>
 
  
</nav>